<!-- content heading -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<!-- message -->
<% if (notice && notice.length > 0) { %>
    <div class="notice">
        <%= notice %>
    </div>
<% } %>

<!-- errors -->
<% if (errors && errors.length > 0) { %>
    <div class="errors">
      <% errors.forEach(function(error){ %>
        <p><%= error.msg %></p>
      <% }) %>
    </div>
<% } %>

<% if (account_firstname) { %>
  <h2>Welcome <%= account_firstname %></h2>
<% } %>

<div class="account-links-container">
  <p class="account-links">
    <a href="/account/update/<%= account_id %>">Update Account Information</a>
  </p>

  <% if (account_type === "Employee" || account_type === "Admin") { %>
      <h3>Inventory Management</h3>
      <p class="account-links"><a href="/inv/">Manage Inventory</a></p>
  <% } %>

  <% if (accountData) { %>
    <p class="account-links"><a href="/favorites">My Favorites ❤️</a></p>
  <% } %>
</div>